<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Users List </h1>
    <a href = "{% url 'index' %}"> <button> Go Back </button> </a> <br><br><br>


    <div>
        {% for i in users_list %}
            {% if i != user %}
                <div style="display: flex; justify-content: space_evenly; align-items: center; border: 1px solid red; padding: 10px;">
                    <h1> {{ i.username }} </h1>
                    <a style="margin-left: 30px;" href="{% url 'chat' i.id %}"> <button> Got to Chat </button></a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>